.container{
	display: flex;
    justify-content: center;
    align-items: center;
}

body{
	background-color: #D8CEF6;
}

.post-link{
	width:500px;
}

.post-link img{
	width:100px;
	height:150px;
}

.button{
	width:500px;
}